<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-8">
    <%= form.label :name, class: "inline-block font-semibold mb-2" %>
    <%= form.text_field :name, class: "rounded border-neutral-300 w-full" %>
  </div>

  <div class="my-8">
    <%= form.label :description, class: "inline-block font-semibold mb-2" %>
    <%= form.text_area :description, class: "rounded border-neutral-300 w-full" %>
  </div>

  <div>
    <%= form.submit class:"bg-blue-500 rounded px-3 text-white py-1 mt-4 hover:bg-blue-400" %>
  </div>
<% end %>
